.Contact {
  border: 1px solid black;
  display: flex;
  width: 70%;
  margin: 10px;
  align-items: center;
  padding: 4px 10px;
  flex-wrap: wrap;
}

.Contact img {
  border: 2px solid black;
  width: 30%;
  height: 150px;
}

.Contact p {
  margin-left: 25%;
  font-size: 25px;
}
