.header {
  font-size: 25px;
  background: rgb(0, 47, 255);
  padding: 10px;
  border-bottom: 4px solid black;
}

.header a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}
.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
