.FormBlock {
    text-align: center;
    position: relative;
  }
  .ImgBlock {
    position: absolute;
    top: 30%;
    left: 37%;
  }
  .ImgBlock img {
    width: 250px;
    height: 200px;
    border: 2px  solid black;
  }
  
  h2 {
    text-align: center;
  }
  .Input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin: 10px auto;
    display: block;
    width: 80%;
    box-sizing: border-box;
  }
  
  .Input:focus {
    outline: none;
    background-color: #ccc;
  }
  
  .FormBtn {
    background: black;
    color: white;
    padding: 10px 20px;
    margin: 30% 20px 20px 20px;
    text-decoration: none;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    font-size: 15px;
  }
  
  .FormBtn:hover {
    background: white;
    color: black;
  }
  